<!--The content below is only a placeholder and can be replaced.-->
  <h1>
    Welcome!
  </h1>
  <div>Bem-vindo ao meu app!</div>

<app-test-com></app-test-com>
<!-- <app-todo-item [item]='itemApp' [mostrarContador]='true' avisar='2'></app-todo-item> -->

<ul>
    <button (click)='sorting()'>Sortear</button>
    <li *ngFor = 'let item of itens; let i = index'>
      <app-todo-item 
        [avisar]='sorted'
        [mostrarContador]='true' 
        [item]='item'
        [indice]='i'
        (deleteItem)='onDeleteItem($event)'
        >
      </app-todo-item>
    </li>
</ul>
